*{ margin:0px; padding:0px;}
body{padding:0px;margin:0px auto;}
img{border:0px;}
.f_l{
	float:left;
}
.f_r{
	float:right;
}
.dl{
	display:block;
}
/*定位样式*/


/*固定定位*/
.gd_img{
	position:fixed;
	right:20px;
	top:50%;
	z-index: 10000;
}
.gd_img a{
	display:block;
	width:48px;
	height:48px;
	line-height:48px;
	background:#f4f4f4;
	margin-bottom:10px;
	border:1px solid #d6d6d6;
	cursor:pointer;

}
.gd_img a:first-child{
	background: #f4f4f4 url("../img/gt1.png") no-repeat;
	background-position: 14px 13px;
}



.gd_img a:hover:before{
	font-size: 14px;
	text-align: center;
	color: #fff;
	width: 40px;
	line-height: 20px;
	padding: 4px;
	display:block;
}
.gd_img a:nth-child(1):hover:before{
	content: "去购物车";
}
.gd_img a:nth-child(2){
	background: #f4f4f4 url("../img/gt2.png") no-repeat;
	background-position: 14px 13px;
}

.gd_img a:nth-child(2):hover:before{
	content: "联系客服";
}
.gd_img a:nth-child(3){
	background: #f4f4f4 url("../img/gt3.png") no-repeat;
	background-position: 14px 13px;
}

.gd_img a:nth-child(3):hover:before{
	content: "个人中心";
}
.gd_img a:nth-child(4){
	background:#f4f4f4 url("../img/gt4.png") no-repeat;
	background-position: 14px 13px;
}

.gd_img a:nth-child(4):hover:before{
	content: "回到顶部";
}
.gd_img a:hover{
	background:#a10000 ;
	text-decoration: none;
}
.gd_img p{
	border:1px solid #a10000;
	position:absolute;
	top:66px;
	background:#f4f4f4;
	padding:10px;
}
.gd_img dl dt:hover{
	visibility:hidden;
}
.header{
	min-width:1160px;
	margin-top:30px;
	position:relative;
	border-bottom:1px solid #dbdbdb;
}
.wrapper{
	width:1160px;
	height:109px;
	margin:0 auto;
}
.s1{
	height:20px;
}
.wra_r{
	width:405px;
	height:56px;
}
#top{
	width:1160px;
	height:60px;
	*margin-top:10px;
}
.header h1{
	display:block;
	font-size:2em;
}
.header h1 img {
    width:80%;
	*width:15%;
	_width:15%;
    display:block;
	border:none;
}
.header div p{
	margin-top:20px;
}
.header div p a{
	color:#262626;
	padding:0 10px;
	font-size:14px;
}
a{
	text-decoration:none;
	outline:none;
}
a:link{
	cursor:pointer;
}
.header div form{
	width:160px;
	height:30px;
	line-height:30px;
	margin:0 10px;
	margin-top:13px;
	border-bottom:1px solid #262626;
}
.header div form .inp_tx{
	width:130px;
	*width:100px;
	*margin-bottom:10px;
	*border:0px;
	text-indent:8px;
	border:none;
	outline:none;
}
.header div form .btn_ss{
	border:none;
	padding-bottom:20px;
	width:20px;
	background:url("../img/ss.png") no-repeat right 5px;
	cursor:pointer;
}
.header div .btn_r{
	margin-top:20px;
	position:relative;
}
.header div .btn_r>a{
	margin:0 5px;
}
/*导航部分样式*/
.header ul{
	width:710px;
	height:68px; 
/* 	display:flex;
	justify-content:space-around; */
	line-height:68px;
	 position:absolute; 
	list-style:none;
	left:443px;
	top:60px;
	margin:0px auto;
}
.header ul li {
	width:65px;
	padding:0px 15px;
	height:50px;
	/* *符号ie8标识 _符号ie6标识 \9符号ie9标识 */
	float:left; 
	display:block;
	line-height:50px;
}

/*导航下a标签样式*/
.header ul li a{
	color:#262626;
}
.sList {
	position: absolute;
	top: 113px;
	left: 0;
	z-index: 3;
	background: #fff;
	width: 100%;
	display: block;
}

.sList div {
	text-align: center;
	padding: 20px 0;
	display: flex;
}

.sList div a {
	flex: 1 1 20%;
	border-right: 1px solid #dbdbdb;
}

.sList div a:last-child {
	border-right: none;
}

.sList div dl dt img {
	width: 70%;
}

.sList div dl dd {
	font-size: 14px;
}

.sList2 {
	display: none;
	position: absolute;
	top: 113px;
	left: 0;
	z-index: 3;
	background: #fff;
	width: 100%;
}

.sList2 div {
	width: 46%;
	margin: 0 auto;
}

.sList2 a {
	float: left;
	margin-right: 40px;
}
/*bnner样式*/
#main{
	width:100%;
	margin:0 auto;
	background:#eaf4f6;
  }
  #banner{
	width:100%;
	overflow:hidden;
	position:relative;
	margin:0 auto;
  }
#ul-imgs{
	list-style:none;
  }
  #ul-imgs.transition{
	transition:all .5s linear;
  }
  #ul-imgs>li{
	width:2000px;
	float:left;
 
  }
  #ul-imgs img{
	width:100%;
  }
  #ul-idxs{
	width:100px;
	margin:0 auto;
	list-style:none;
	position:absolute;
	bottom:25px;
	left:50%;
	margin-left:-50px;
  }
  #ul-idxs>li{
	float:left;
	width:10px; height:10px;
	background-color:#ccc;
	border-radius:5px;
	margin:0 5px;
	cursor:pointer;
  }
  #ul-idxs>li.active{
	background-color:#2DB5A3;
  }
  #btn-left,#btn-right{
	width:15px;
	height:15px;
	position:absolute;
	top:35%;
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
  }
  #btn-left{
	left:20px;
	background-image:url(../img/temp/prev.png);
  }
  #btn-right{
	right:20px;
	background-image:url(../img/temp/next.png);
  }
  #btn-left:hover,#btn-right:hover{
	background-size:20px 20px
  }
/*banner*/

.block_home_slider {
	position: relative;
	background-color: #ffffff;
	text-align: center;
	line-height: 0px; 
	margin-right: auto;
	margin-left: auto;
	min-width: 1160px;
}  
.block_home_slider .slide {position:relative;}
.block_home_slider .caption {padding:13px 16px 12px; position:absolute; left:0px; right:0px; bottom:0px;}
.block_home_slider .caption p {padding-bottom:0px; font-size:11px; color:#dedede; text-shadow:0px -1px #000000; line-height:17px;}
.block_home_slider .caption p.title {padding-bottom:6px; font-size:15px; color:#ffffff; font-weight:bold; line-height:normal;}
.block_home_slider .flex-direction-nav a.flex-prev {left:6px; background-position:left top;}
.block_home_slider .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}
.block_home_slider .flex-direction-nav a.flex-next {right:6px; background-position:right top;}
.block_home_slider .flex-direction-nav a.flex-next:hover {background-position:right bottom;}
.block_home_slider .flex-control-paging {width:80px;padding-top:15px; display:inline-block;position: absolute; bottom: 15px; left: 50%;margin-left:-30px;}
.block_home_slider .flex-control-paging li {
	margin: 0px;
	padding: 0px;
	float: left;
	overflow: hidden;
	list-style-type: none;
}
.block_home_slider .flex-control-paging li a {width:18px; height:18px; display:block; background-repeat:no-repeat; text-indent:-9000px; cursor:pointer;background-size: 180%;}
.block_home_slider .flex-control-paging li a.flex-active {background-position:right top;}
.block_home_post_feature {width:300px;}
.block_home_post_feature p {padding-bottom:0px;}
.flexslider {margin: 0; padding: 0;overflow:hidden;}
.flexslider .slides > li {
	display: block;
    /*-webkit-backface-visibility:hidden;*/ 
	list-style-type: none;
	float:left;
} 
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}


/*Center Img*/
.thImg{
	width:840px;
	height:380px;
	margin:0 auto;
	position:relative;
}
.thImg div{
	position:absolute;
	top:-50px;
	left:0px;
	padding:15px;
	background:url("../img/bg.jpg") repeat-x bottom #fff;
}
.thImg a{
	float:left;
	width:260px;
	height:350px;
	margin-right:10px;
	overflow:hidden;
}
/************Content导航******************/
.content{
	width:100%;
}
.wrapper_c{
	width:1160px;
	margin:0 auto;
	
}
.content p img{
	display:block;
	width:70%;
	margin:0 auto;
}
.top{
	margin:30px 0;
}
.top a:nth-child(2){
	margin:0 30px;
}
/***********flower*************/
.flower{
	width:1160px;
}
.f_ul{
	list-style:none;
	text-align:center;
}
.f_ul:after{
	content:"";
	clear:both;
	display:block;
}
.f_ul li{
	width:356px;
	height:510px;
	float:left;
	margin:0 12px;
}
.f_ul li p{
	margin:15px 0;
}
.f_ul li span{
	width:81px;
	height:45px;
	background:#fff;
}
.f_ul li p a{
	color:#000;
	font-size:12px;
}
.f_ul .price{
	display:inline-block;
	color:#a10000;
	font-size:16px;
	font-weight:bold;
	border:1px solid #bababa;
	background:#fff;
	margin-bottom:50px;
	width:82px;
	height:45px;
	line-height:45px;
}
.f_ul .price:hover{
	color:#fff;
	background:#a10000;
}
 .a_bg{
	display:inline-block;
	width:100%;
}
.a_bg img{
	width:100%;
}
/******壁挂——北欧********/
.content .bg_bo{
	margin-top:30px;	
}
.bg_bo ul{
	width: 1160px;
  /*   height: 332px; */
	margin-top:30px;
	list-style:none;
	text-align:center;
}
.bg_bo ul li{
	float:left;
	width:268px;
	/* height:300px; */
	margin:5px 8px;
}
.bg_bo ul li>a:first-child{
	display: block;
	width: 268px;
	height: 268px;
}
.bg_bo ul li>a:first-child img{
	max-width: 268px;
	max-height: 268px;
	margin: 0 auto;
	overflow: hidden;
}
.bg_bo li p a{
	color:#000;
	font-size:12px;
}
.bg_bo li p{
	margin:15px 0;
}
.bg_bo .price{
	color:#a10000;
	font-size:16px;
	font-weight:bold;
}
.footer{
	margin:50px 0;
	width:100%;
}
.footer .wra_f{
	width:1160px;
	height:53px;
	margin:0 auto;
}
.footer .f_top{
	clear:both;
	padding:30px 0;
	/* height: 55px; */
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
}
.footer .dibu{
	padding:30px 0;
	background:#000;
	text-align:center;
	color:#fff;
	font-size:12px;
}
.footer .f_4img{
	float:left;
	width:288px;
    height: 53px;
    text-align: center;
	border-right:1px solid #dbdbdb;
}
.footer .null_r{
	border-right:none;
}
.footer .f_4img img{
	vertical-align:middle;
}
.footer .f_4img span{
	margin-left:10px;
	display:inline-block;
	font-size:16px;
}
.ft_list:after{
content:"";
clear:both;
display:block;
}
.ft_list li img{
	max-width: 268px;
	max-height: 268px;
	margin: 0 auto;
}
#yincang_nav{
	display: flex;
	justify-content:space-around; 
}
.dropdown-menu{
	width:200px;
	list-style:none; margin:0; padding:0;
	/*border:1px solid #aaa;*/
	box-shadow:5px 5px 6px #000;
	/*display: none;*/
	height: 0px;
	overflow: hidden;
	transition: all .5s linear;
}
.dropdown-menu a{padding:6px 20px; width:160px}
.dropdown-menu li:hover{background:#ddd}
/* #nav_ul li{text-align:center;}
#nav_ul li:hover{border-bottom:2px solid #a10000;}
#nav_ul li:hover .li_info{animation:li_tt_dh 0.25s linear 0s forwards;}
#nav_ul li:hover a{color:#A10000;}

.li_info{height:0px;position:absolute;background:#fff;width:100%;top:110px;left:0px;margin-top:2px; overflow:hidden;}

@keyframes li_tt_dh
{
	0%{height:0px;}
	100%{height:100px;}
} */
/*.cloumn_title{
position:relative;
width:150px;
margin:0px auto;
}
.cloumn_title p{font-size:14px;color:#666;text-align:center;line-height:20px;}
.cloumn_title p:nth-child(2){color:#ccc;font-size:12px;}
.cloumn_title:before{content:'>>';width:100px;height:20px;position:absolute;left:-100px;top:30%;border:1px solid #000;} */